* {
	box-sizing: border-box;
}
body {
	background: #f8f9fa;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.7;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

/*
CONTAINER-PRODUCTS
*/
.container-products {
	display: flex;
	flex-wrap: wrap;
}
.item {
	width: 270px;
	height: 340px;
	margin: 20px;
	padding: 10px 20px;
	border-radius: .25rem;
	box-shadow: 
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
}
.name {
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 0px;
}
.img {
	height: 200px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	filter: grayscale(50%);
}
.price {
	padding: 15px 0px;
	color: grey;
}
.btn {
	padding: 10px 15px;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid grey;
	outline: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
}
.btn-active {
	border: 1px solid transparent;
	background-image: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);
}

/*
CONTAINER-COUNTER
*/
.container-counter {
	flex-shrink: 0;
	width: 60px;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../img/cart.svg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	color: grey;
	font-weight: bold;
	cursor: pointer;
	margin: 20px;
}

/*****************************************
CONTAINER-CART
*****************************************/
.container-cart {
	display: none;
	align-items: flex-start;
	position: fixed;
	width: 97%;
	height: 97vh;
	background: #fff;
	box-shadow: 
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	margin: auto;
	flex-wrap: wrap;
}
.cart-close {
	position: absolute;
	width: 35px;
	height: 35px;
	top: 20px;
	right: 20px;
	background-image: url(../img/close.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	cursor: pointer;
}

